

.verify-phone-input {
  margin-top: 30px;
}
.verify-phone-prefix {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.policy-text {
  color: #000;
  text-align: left;
}
.policy-strong-text {
  text-decoration: underline;
}
.policy-content {
  display: block;
}
